<h3>Send us your Feedback</h3>
<div class="container">
  <form
    novalidate
    fxFlex
    fxFlexOffset="20px"
    [formGroup]="feedbackForm"
    #fform="ngForm"
    class="form-size"
    (ngSubmit)="onSubmit()"
    *ngIf="!loading && !submitted"
  >
    <p>
      <mat-form-field class="half-width">
        <input
          matInput
          formControlName="firstname"
          placeholder="First Name"
          type="text"
          required
        />
        <mat-error *ngIf="formErrors.firstname">{{
          formErrors.firstname
        }}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input
          matInput
          formControlName="lastname"
          placeholder="Last Name"
          type="text"
          required
        />
        <mat-error *ngIf="formErrors.lastname">{{
          formErrors.lastname
        }}</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="half-width">
        <input
          matInput
          formControlName="telnum"
          placeholder="Tel. Number"
          type="tel"
          pattern="[0-9]*"
          required
        />
        <mat-error *ngIf="formErrors.telnum">{{ formErrors.telnum }}</mat-error>
      </mat-form-field>
      <mat-form-field class="half-width">
        <input
          matInput
          formControlName="email"
          placeholder="Email"
          type="email"
          required
        />
        <mat-error
          *ngIf="
            feedbackForm.get('email').hasError('required') &&
            feedbackForm.get('email').touched
          "
          >Email ID is required</mat-error
        >
      </mat-form-field>
    </p>
    <p>
      <mat-slide-toggle class="half-width" formControlName="agree"
        >May we contact you?</mat-slide-toggle
      >
      <mat-form-field class="quarter-width">
        <mat-select placeholder="How?" formControlName="contacttype">
          <mat-option *ngFor="let ctype of contactType" [value]="ctype">
            {{ ctype }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width">
        <textarea
          matInput
          formControlName="message"
          placeholder="Your Feedback"
          rows="12"
        ></textarea>
      </mat-form-field>
    </p>
    <button
      type="submit"
      mat-button
      class="background-primary text-floral-white"
      [class.disabled]="feedbackForm.invalid"
      [disabled]="feedbackForm.invalid"
    >
      Submit
    </button>
  </form>

  <div fxFlex="40" *ngIf="feedback || !loading" [@visibility]="visibility">
    <div>Your Submission</div>
    <mat-list role="list">
      <mat-list-item role="listitem"
        >First Name: {{ feedback.firstname }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >Last Name: {{ feedback.lastname }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >Tel. Number: {{ feedback.telnum }}</mat-list-item
      >
      <mat-list-item role="listitem">Email: {{ feedback.email }}</mat-list-item>
      <mat-list-item role="listitem"
        >Contact You?: {{ feedback.agree }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >How?: {{ feedback.contacttype }}</mat-list-item
      >
      <mat-list-item role="listitem"
        >Feedback: {{ feedback.message }}</mat-list-item
      >
    </mat-list>
  </div>

  <div fxFlex *ngIf="loading">
    <h4>Submitting Form</h4>
    <mat-spinner></mat-spinner>
  </div>
  <div fxFlex *ngIf="formErrorMessage">
    <h2>Error</h2>
    <h4>{{ formErrorMessage }}</h4>
  </div>
</div>
