.container {
  display: block;
  .full-width {
    width: 95%;
  }

  .half-width {
    width: 45%;
  }

  .quarter-width {
    width: 15%;
  }

  .form-size {
    width: 75%;
  }

  form {
    padding-bottom: 40px;
  }

  .disabled {
    background-color: grey !important;
  }
}
