<div
  class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
  *ngIf="dish"
>
  <div fxFlex="40" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3 *ngIf="dish">{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]=" BaseURL +  dish.image" alt="{{ dish.name }}" />
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40" *ngIf="dish.comments" [@visibility]="visibility" [@expand]>
    <h1>Comments</h1>
    <mat-list role="list" *ngFor="let item of dish.comments">
      <mat-list-item role="listitem">
        <div mat-line>{{ item.comment }}</div>
        <div mat-line>{{ item.rating }} Starts</div>
        <div mat-line>{{ item.comment }}</div>
        <div mat-line>-- {{ item.author }} {{ item.date | date }}</div>
      </mat-list-item>
    </mat-list>
    <hr />
    <mat-list role="list" *ngIf="feedbackForm.valid">
      <mat-list-item role="listitem">
        <div mat-line>{{ feedbackForm.value["firstname"] }}</div>
        <div mat-line>{{ feedbackForm.value["slider"] }} Stars</div>
        <div mat-line>{{ feedbackForm.value["comment"] }}</div>
      </mat-list-item>
    </mat-list>
    <form
      novalidate
      [formGroup]="feedbackForm"
      #fform="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <p>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="firstname"
            placeholder="First Name"
            type="text"
            required
          />
          <mat-error *ngIf="formErrors.firstname">{{
            formErrors.firstname
          }}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-slider formControlName="slider" min="1" max="5" step="1" value="5">
          <input matSliderThumb />
        </mat-slider>
      </p>
      <p>
        <mat-form-field class="half-width">
          <input
            matInput
            formControlName="comment"
            placeholder="Your comment"
            type="text"
            required
          />
          <mat-error *ngIf="formErrors.firstname">{{
            formErrors.firstname
          }}</mat-error>
        </mat-form-field>
      </p>

      <button
        [disabled]="!feedbackForm.valid"
        mat-raised-button
        color="primary"
        type="submit"
      >
        Submit
      </button>
    </form>
  </div>

  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner>
    <h4>Loading . . . Please Wait</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>
</div>
